<a href="https://colab.research.google.com/github/Deathwingml/ineuron_assignments/blob/main/Assignment_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
birth_year = 1995  # Replace with your birth year
years_list = [birth_year + i for i in range(6)] #starts with your year of birth and give the next 5 birthdays
years_list

[1995, 1996, 1997, 1998, 1999, 2000]

#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

Answer: If you consider first year as 0 age, the third birthday would be 1998

In [5]:
years_list[3]

1998

#3.In the years list, which year were you the oldest?

Answer: I was oldest in the year 2000

In [6]:
years_list[-1]

2000

#4. Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;, &quot;salmonella&quot;.

In [7]:
things = ["mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

#5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Answer: This changed the first letter of the second element from a small letter to capital

In [8]:
things[1]=things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

#6. Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [10]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [11]:
surprise_list = ["Groucho", "Chico", "Harpo"]

# Lowercase the last element
last_element = surprise_list[-1].lower()

# Reverse the last element
reversed_element = last_element[::-1]

# Capitalize the reversed element
capitalized_element = reversed_element.capitalize()

# Replace the last element in the list with the modified element
surprise_list[-1] = capitalized_element

print(surprise_list)

['Groucho', 'Chico', 'Oprah']

#8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [13]:
e2f = {'dog':'chien', 'cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#9. Write the French word for walrus in your three-word dictionary e2f.

In [14]:
french_word = e2f['walrus']
print(french_word)

morse

#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [15]:
f2e = {value: key for key, value in e2f.items()}

f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#11. Print the English version of the French word chien using f2e.

In [16]:
english_word = f2e['chien']
print(english_word)

dog

#12. Make and print a set of English words from the keys in e2f.

In [17]:
english_words = set(e2f.keys())
english_words

{'cat', 'dog', 'walrus'}

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [19]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

#print(life)

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

#14. Print the top-level keys of life.

In [20]:
top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

#15. Print the keys for life[&#39;animals&#39;].

In [21]:
animal_keys = life['animals'].keys()
print(animal_keys)

dict_keys(['cats', 'octopi', 'emus'])

#16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [22]:
cat_values = life['animals']['cats']
print(cat_values)

['Henri', 'Grumpy', 'Lucy']