**1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.**
*
hello
-87.8
-
/
+
6

*Answer:*

Values: hello, -87.8, 6

Expresssions: -,*,/,+

**2. What is the difference between string and variable?**

*Answer:*

**String**: String (str) is basically a **text** data type which is a set or sequence of 1 or more alphabets, alpha-neumeric characters, special-characters that are iterable using loops

**Variable:** Variables are alphabetical symbols used for representing data types, data structers or other type of objects. Variables are used for naming an object in the program. Once a name or variable is assigned to an object, it can then be called using the name.

**3. Describe three different data types.**

*Answer*

int: Int is a neumeric data type in Python. It is the data type for numbers without decimals. It is not iterable

float: Float is another neumeric data type. Numbers with a decimal point are Float data types. It is not iterable

bool: Boolean has 2 values only, True or False. The value of True is 1 and False is 0. This is mainly used for verifying conditions

**4. What is an expression made up of? What do all expressions do?**

*Answer*

An expression is a combination of operators and operands. An expression is used for producing answers to calculations and some other value. This is done by interpretting the operators and operands as per the order of precedence

**5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?**

*Answer*

An “expression” is a combination of values and functions that are combined and interpreted by the compiler to create a new value.

A "statement" is a command that can be executed by python.

In [13]:
bacon = 22
#bacon+1
print(bacon)
print(bacon+1) # adding 1 to bacon
bacon = bacon + 1 # assigning value of bacon to bacon + 1 
print(bacon) # printing new bacon

22
23
23

**After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1**

*Answer*

after executing bacon = 22 and bacon + 1, the variable bacon will contain 22.

bacon = bacon + 1, will contain 23

```
bacon = 22
print(bacon)
print(bacon+1) # adding 1 to bacon
bacon = bacon + 1 # assigning value of bacon to bacon + 1 
print(bacon) # printing new bacon
```

**7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3**

*Answer*

"spam" + "spamspam" =  spamspamspam

"spam" * 3 = spamspamspam

**8. Why is eggs a valid variable name while 100 is invalid?**

*Answer*

eggs is a string type where as 100 is an integer. Interger cannot be variables.

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

*Answer*

```
integer - int()
float - float()
string - str()

```

**10. Why does this expression cause an error? How can you fix it?
"I have eaten" +99+ "burritos"**

*Answer*
"I have eaten" +99+ "burritos" - doesn't work because what we are doing here is concatenation. Concatenation would only work for string data type and. Here, 99 is not str type

We can fix it by converting "99" to str. Example:

"I have eaten" +str(99)+ "burritos"

or

"I have eaten" +"99"+ "burritos"